<div class="m-t-140">
    <form >
        <div class="form-group">
            <label for="search" >Search</label>
            <input type="text" class="form-control" name="q" id="search" placeholder="Type here">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
